html {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

body {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    
    overflow-x: hidden;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Segoe UI Emoji, Apple Color Emoji, Noto Color Emoji, sans-serif;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
