*, *::before, *::after {
    box-sizing: border-box;
    scrollbar-color: var(--border) transparent;
}

:root {
    --bg-site: #101113;
    --bg-primary: #18191e;
    --bg-secondary: #24262c;
    --bg-selection: #263545;
    --text-primary: #e2e5ec;
    --text-secondary: #a2abb7;
    --text-tertiary: #6e7a8c;
    --font-large: 1.4rem;
    --font-medium: 1rem;
    --font-text: 0.9rem;
    --font-small: 0.85rem;
    --font-tiny: 0.7rem;
    --border: #434d5a;

    --accent: #4a9eff;
    --error: #ff6e64;
    --success: #00b894;
    --warning-medium: #ffb473;
    --warning-high: #ff8661;
}

html {
    display: flex;
    flex-flow: column;
    min-height: 100dvh;
}

body {
    overflow-x: hidden;
    // TODO: actually ship a font lol
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Segoe UI Emoji, Apple Color Emoji, sans-serif;

    background-color: var(--bg-site);
    color: var(--text-primary);

    margin: 0;
}

// Basic styles for form elements
// The --bg-color variable can be used from component code to set background colors
button, input, select, textarea, .button, .input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--bg-color, var(--bg-secondary));
    // border: 1px solid transparent;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 0.35em 0.5em;
    margin: 0;

    transform: translateY(0);
    transition: background-color 0.1s ease, transform 0.1s ease;

    // A flex layout on buttons aligns icons by default
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;

    &:hover:not(:disabled):not(.unstyled), &:focus-within:not(:disabled):not(.unstyled) {
        background-color: color-mix(in srgb, var(--accent) 3%, var(--bg-color, var(--bg-secondary)));
    }

    &.selected {
        --bg-color: var(--bg-selection);
    }

    &.unstyled {
        background-color: transparent;
        padding: 0;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
button, .button {
    cursor: pointer;
}
input {
    // Smaller vertical padding looks weird on inputs
    padding: 0.5em;
}
.lucide-icon {
    width: 1.25em;
    height: 1.25em;
    flex-shrink: 0;
}
textarea {
    resize: vertical;
}
button:hover:not(:disabled):not(.unstyled), .button:hover:not(:disabled):not(.unstyled) {
    transform: translateY(-1px);
}

.multi-button {
    --bg-color: var(--bg-primary);
    --bg-selection: var(--bg-secondary);

    display: flex;
    flex-direction: row;

    > button {
        border-radius: 0;

        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        &.active {
            --bg-color: var(--bg-selection);
        }
    }
}

label {
    display: inline;
    margin: 0;
    padding: 0;
}

a {
    color: var(--accent);
    text-decoration: none;
    transition: color 0.1s ease;

    &:hover {
        color: color-mix(in srgb, var(--accent) 80%, var(--text-primary));
    }
}
hr {
    border: none;
    border-top: 1px solid var(--border);
    margin: 1rem 0;
}
p {
    margin: 0;
}

h1 {
    font-size: var(--font-large);
    margin: 0;
}
h2 {
    font-size: var(--font-medium);
    margin: 0.5rem 0 0 0;
}
h3 {
    font-size: var(--font-text);
    margin: 0;
}